body {
  background-image: url('WhatsApp Image 2025-11-07 at 21.30.37_d183d406.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 
  min-height: 100vh;


  margin: 0;

  font-weight: bold;
}

h1 {
  color: #0077cc;
  text-align: center;
}


p {
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
}


h4 {
  font-size: 200px;
  text-align: center;
  color: rgb(0, 0, 0);
}


a {
  color: #cc0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


img {
  border: 3px solid #0077cc;
  border-radius: 10px;
}


.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


video {
  border: 3px solid #0077cc;
  border-radius: 10px;
}
